<app-header></app-header>
<div class="bodyhome grid">
    <div class="col-12 grid">
        <div class="col-3">
            <app-panel-menu></app-panel-menu>
        </div>
        <div class="col-8">
            <div class="bookInfo col-12 grid">
                <div class="img col-5">
                    <!-- <p-fileUpload name="demo[]" (onSelect)="onUpload($event)" [showUploadButton]="false"
                        accept="image/*" (maxFileSize)="1000000">
                    </p-fileUpload> -->
                    <label for="bookimage" class="block">Image:</label>
                    <p-image src="{{book.Image}}" alt="Image" width="350"></p-image>
                    <input id="bookname" type="username" aria-describedby="bookimage-help" pInputText
                        [(ngModel)]="book.Image" [style]="{'width':'100%'}" />
                </div>
                <div class="info col-6">
                    <div class="id_nfc item">
                        <label for="id_nfc" class="block">Id-nfc:</label>
                        <input id="id_nfc" type="username" aria-describedby="id_nfc-help" pInputText
                            [(ngModel)]="book.Id_nfc" [style]="{'width':'100%'}" />
                    </div>
                    <div class="category item">
                        <label for="bookcategory" class="block">Category:</label>
                        <p-dropdown id="bookcategory" [options]="categortyItems" [(ngModel)]="item" placeholder="All Category"
                            [virtualScroll]="true" [itemSize]="31" [filter]="false"></p-dropdown>
                    </div>
                    <div class="name item">
                        <label for="bookname" class="block">Name:</label>
                        <input id="bookname" type="username" aria-describedby="bookname-help" pInputText
                            [(ngModel)]="book.Name" [style]="{'width':'100%'}" />
                    </div>
                    <div class="description  item">
                        <label for="description" class="block">description:</label>
                        <textarea id="description" pInputTextarea [(ngModel)]="book.Description"
                            aria-describedby="description-help" [style]="{'width':'100%'}"></textarea>
                    </div>
                    <div class="publish_year item">
                        <label for="publish_year" class="block">Publish Year:</label>
                        <p-calendar id="publish_year" inputId="basic" [(ngModel)]="textdate" [style]="{'width':'100%'}">
                        </p-calendar>
                    </div>
                    <div class="publish_company item">
                        <label for="publish_company" class="block">Publish Company:</label>
                        <input id="publish_company" type="username" aria-describedby="publish_company-help" pInputText
                            [(ngModel)]="book.Publish_company" [style]="{'width':'100%'}" />
                    </div>
                    <div class="author item">
                        <label for="author" class="block">Author:</label>
                        <input id="author" type="username" aria-describedby="author-help" pInputText
                            [(ngModel)]="book.Author" [style]="{'width':'100%'}" />
                    </div>
                    <div class="price item">
                        <label for="price" class="block">price:</label>
                        <p-inputNumber inputId="integeronly" [(ngModel)]="book.Price" aria-describedby="price-help"
                            [style]="{'width':'100%'}"></p-inputNumber>
                    </div>
                    <div class="status item">
                        <label for="status" class="block">status:</label>
                        <input id="status" type="username" aria-describedby="status-help" pInputText
                            [(ngModel)]="book.Status" [disabled]="true" [style]="{'width':'100%'}" />
                    </div>
                    <div class="btn">
                        <p-button label="Create" icon="pi pi-plus" (onClick)="createBook()"></p-button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>