<app-header></app-header>
<div class="acountbd">
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">MSSV</span>
        <input type="text" pInputText placeholder="MSSV" [disabled]="true" [(ngModel)]="user.mssv">
    </div>
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Full Name</span>
        <input type="text" pInputText placeholder="Username" [(ngModel)]="user.name">
    </div>
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Phone</span>
        <input type="text" pInputText placeholder="Phone" [(ngModel)]="user.phone">
    </div>
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Email</span>
        <input type="text" pInputText placeholder="email" [disabled]="true" [(ngModel)]="user.email">
    </div>
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">BirthDay</span>
        <input type="text" pInputText placeholder="BirthDay" [(ngModel)]="user.birthDay">
    </div>
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Address</span>
        <input type="text" pInputText placeholder="Address" [(ngModel)]="user.address">
    </div>
    <div class="btn">
        <button pButton pRipple label="Save" icon="pi pi-save"></button>
    </div>
</div>