.bodyhome{
    margin-top: 5px;
    height: 100%;
    width: 100%;
}
.bookInfo{
    text-align: center;
    background-color: ghostwhite;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    margin-top: 5px;
    padding: 20px 20px 20px 20px;
}
.info{
    margin-left: 50px;
    text-align: left;
    width: 50%;
}
.item{
    padding-bottom: 5px;
}