<app-header></app-header>
<div class="bodyhome grid">
    <div class="col-12 grid">
        <div class="col-3">
            <app-panel-menu></app-panel-menu>
        </div>
        <div class="col-8">
            <div class="card grid">
                <div class="col-12 search grid">
                    <div class="col-6">
                        <p-dropdown [options]="categortyItems" [(ngModel)]="item" placeholder="All Category" [virtualScroll]="true" [itemSize]="31" [filter]="false" (onChange)="dropClick()"></p-dropdown>
                    </div>
                    <div class="col-6">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="text" pInputText placeholder="Search" [(ngModel)]="txtSearch" (ngModelChange)="searchtext()" />
                        </span>
                    </div>
                </div>
                <div class="col-4" *ngFor="let product of listBook">
                    <div class=" listitem card">
                        <div class="product-grid-item-top">
                            <div class="categorytag">
                                <i class="pi pi-tag product-category-icon"></i>
                                <span class="product-category" *ngFor="let item of listCategory">
                                    <span *ngIf="product.Category_id===item.Id">
                                        {{item.Name}}
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="product-grid-item-content" routerLink="{{product.Id_nfc}}">
                            <img [src]="product.Image" [alt]="product.Name" />
                            <div class="product-name">{{product.Name}}</div>
                            <div class="product-description">{{product.Description}}</div>
                        </div>
                        <div class="product-grid-item-bottom">
                            <span class="product-price">${{product.Price}}</span>
                            <p-button icon="pi pi-pencil" [routerLink]="['/book-edit/'+product.Id_nfc]"></p-button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="btnpage">
                <p-button label="Show more" icon="pi pi-plus" iconPos="right" (onClick)="showMore()"></p-button>
            </div> -->
        </div>
    </div>
</div>